---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../config';
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import { IoArrowForward } from 'react-icons/io5';
import Masthead from '../components/Masthead.astro'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
		<main class="pt-[56px]">
			<Masthead />
			<Content>
				<section>
					<p class="mb-8 indent-4">You guys ask me about what tools did I use, I&apos;ve been speding hours to make this website to you at my desk ever day. So, I&apos;ve been continously imporving my coding skill to boost my workspace and craft.
						Whatever I am sure that you guys want this website to know what Im setup.Crazy isn&apos;t it. Remember Im just High School Student.Here we are, I&apos;m gonna snapshot
						about my tools and what I use.
						<a class="inline-flex items-center gap-1 indent-1 text-white dark:text-red-300" href={HOMEPAGE_URL}>Learn more about me <IoArrowForward className="inline" /></a>
					</p>
				</section>
			</Content>
		</main>
		<Footer />
	</Body>
</html>
