---
const today = new Date();
import {HOMEPAGE_URL} from '../config'
---

<footer class="text-zinc-500 p-4 text-center">
	&copy; {today.getFullYear()} <a href={HOMEPAGE_URL}>Nutthaweed</a>. All rights reserved.
	inspired by Takuya Matsuyama
</footer>

