---
import HeaderLink from './HeaderLink.astro';
import { HOMEPAGE_URL } from '../config';
import { IoLogoGithub } from 'react-icons/io5/index.js'
import ThemeToggle from '../components/ThemeToggleButton';
---

<header class="fixed w-full p-2 z-20 backdrop-blur-md">
	<div class="mx-autop max-w-3xl">
	<nav class="flex items-center gap-3 text-base">
		<a href="/"><h2 class="font-semibold tracking-tighter p-2 font-varela">Nutthaweed</h2></a>
		<div class="items-center gap-6 hidden md:flex">
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href={HOMEPAGE_URL}>About</HeaderLink>
		<HeaderLink href="https://github.com/Nutthaweed" target="_blank"><IoLogoGithub/>GitHub</HeaderLink>
		</div>
		<div class="flex-1">
			<ThemeToggle client:load />
		</div>
	</nav>
	</div>
</header>
